<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>-[SwordListKeyTest testNumberOfVerses].xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>-[SwordModuleTest testFirstBookATIntro].xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>-[SwordModuleTest testFirstChapterIntroInGen].xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>-[SwordModuleTest testModuleIntro].xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>All in SwordListKeyTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>LongRunningTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ObjCSword.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Utilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>imp2gbs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>imp2ld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>imp2vs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>installmgr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>introtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>mod2imp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>mod2osis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>mod2vpl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>mod2zmod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>osis2mod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>step2vpl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>stepdump.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>sword.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tei2mod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>vpl2mod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>vs2osisref.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>vs2osisreftxt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>xml2gbs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A954ABC213EE9AB00094E3FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A975EED811C792B9007C1532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9A7EEB314D5D61700B76B6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BDFA5A1207F9870067ED5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BFB0A113EDF51000032679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BFB0C413EDFFFE00032679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C2819511C43C4900803CB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2714414D717D800DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2715114D717FD00DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2715E14D7181200DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2716B14D7182300DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2717814D7183B00DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2718514D7185800DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2719214D7186A00DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D2719F14D7187E00DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D271AC14D7189300DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D271B914D718A400DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D271C614D718B800DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D271D314D718C800DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D271E014D718DF00DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D271ED14D718F500DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D271FA14D7193300DA8926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D8FD2D19E2EC5B0055700C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9EE8A8A19E286E500CFFE6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
